{% set classes = '' %}
{% set success = success|default(false) %}
{% set size = size|default(false) %}  {# size: 'small'|'large' #}
{% set disabled = disabled|default(false) %}
{% set required = required|default(false) %}
{% set tooltip = tooltip|default(false) %}
{% set name = name|default('') %}
{% set label = label|default('') %}
{% set value = value|default(null) %}
{% set placeholder = placeholder|default(null) %}
{% set iconButton = iconButton|default(null) %}
{% set iconButtonLeft = iconButtonLeft|default(null) %}
{% set min = min|default(null) %}
{% set max = max|default(null) %}
{% set button = button|default(null) %}
{% set error = error|default(null) %}
{% set type = type|default('text') %}

{% if error %}
  {% set classes = classes ~ ' FieldInput--error' %}
{% endif %}
{% if success %}
  {% set classes = classes ~ ' FieldInput--success' %}
{% endif %}
{% if size %}
  {% set classes = classes ~ ' FieldInput--' ~ size %}
{% endif %}
{% if button %}
  {% set classes = classes ~ ' FieldInput--withButton' %}
{% endif %}


<div class='FieldInput{{ classes }}' {% if disabled %}disabled{% endif %}>
  <div class='FieldInput-header'>
    <label for='{{ name }}' class='FieldInput-label'>
      {{ label }}{% if required and label %} *{% endif %}
    </label>
    {% if tooltip %}
      {% include '../../Tooltip/Tooltip.twig' with {tooltip: tooltip, position: 'bottom'} %}
    {% endif %}
  </div>
  <div class='FieldInput-blockInput {% if iconButton and iconButtonLeft %}FieldInput-blockInputIconLeft{% endif %}'>
    <input
      class='FieldInput-input{% if unit %} FieldInput-input--unit{% endif %}'
      type='{{ type }}'
      name='{{ name }}'
      id='{{ name }}'
      {% if value %}value='{{ value }}'{% endif %}
      {% if required %}required{% endif %}
      {% if placeholder %}placeholder='{{ placeholder }}{% if required and  not label %} *{% endif %}'{% endif %}
      {% if min %}minlength='{{ min }}'{% endif %}
      {% if max %}maxlength='{{ max }}'{% endif %}
    />
    {% if unit %}<span class="FieldInput-unit">{{ unit }}</span>{% endif %}
    {% if iconButton %}
      <div class="FieldInput-button FieldInput-buttonIcon">
        <button type='submit'>{{ source("/icons/"~ iconButton ~".svg") }}</button>
      </div>
    {% endif %}
    {% if button %}
      <div class="FieldInput-button">
        {% include '../../Button/Button.twig' with {text: button, rectangle: true, type: "submit", classes: size == 'small' ? ' Button--small' : ''} %}
      </div>
    {% endif %}
  </div>
  {% if error %}<span class='FieldInput-error'>{{ error }}</span>{% endif %}
</div>
