{% set isRounded = isRounded|default(false) %}
{% set placeholder = placeholder|default(null) %}
{% set id = id|default('') %}
{% set options = options|default([]) %}

<div class="FilterSelect {% if isRounded %}FilterSelect--isRounded{% endif %}" data-drawer-toggle='#FilterSelectDrawer'>
  <div class="FilterSelect-current" tabindex="1">
      {% if placeholder %}
      <div class="Dropdown-value">
        <input class="Dropdown-input" type="radio" value="" name="{{ id }}" checked="checked"/>
        <p class="Dropdown-text">{{ placeholder }}</p>
      </div>
    {% endif %}
    {% for option in options %}
      <div class="FilterSelect-value">
        <input class="FilterSelect-input" type="radio" id="{{ option.value }}" value="{{ option.value }}" name="{{ id }}" {% if not placeholder and loop.index == 1 %}checked="checked"{% endif %}/>
        <p class="FilterSelect-text">{{ option.label }}</p>
      </div>
    {% endfor %}
     <span class='FilterSelect-icon'>{{ source("/icons/chevron-down.svg") }}</span>
  </div>
  <ul class="FilterSelect-list">
    {% for option in options %}
      <li class="FilterSelect-listItem">
        <label tabindex="1" class="FilterSelect-option" for="{{ option.value }}" aria-hidden="true">{{ option.label }}</label>
      </li>
    {% endfor %}
  </ul>
</div>


<div class='MobileDrawer FilterSelect-mobileDrawer' id='FilterSelectDrawer'>
  <div class='MobileDrawer-header'>
    <button class='MobileDrawer-close' type='button' data-drawer-close>{{ source("/icons/close.svg") }}</button>
  </div>
  <div>
    <ul class="FilterSelect-mobileList">
      {% for option in options %}
        <li class="FilterSelect-ListItem">
          <label tabindex="1" class="FilterSelect-option" for="{{ option.value }}" aria-hidden="true">{{ option.label }}</label>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
