<div class="FilterSelect">
  <div class="FilterSelect-current" tabindex="1">
      {% if placeholder %}
      <div class="Dropdown-value">
        <input class="Dropdown-input" type="radio" value="" name="{{ id }}" checked="checked"/>
        <p class="Dropdown-text">{{ placeholder }}</p>
      </div>
    {% endif %}
    {% for option in options %}
      <div class="FilterSelect-value">
        <input class="FilterSelect-input" type="radio" id="{{ option.value }}" value="{{ option.value }}" name="{{ id }}" {% if not placeholder and loop.index == 1 %}checked="checked"{% endif %}/>
        <p class="FilterSelect-text">{{ option.label }}</p>
      </div>
    {% endfor %}
     <span class='FilterSelect-icon'>{{ source("/icons/chevron-down.svg") }}</span>
  </div>
  <ul class="FilterSelect-list">
    {% for option in options %}
      <li class="FilterSelect-listItem">
        <label tabindex="1" class="FilterSelect-option" for="{{ option.value }}" aria-hidden="true">{{ option.label }}</label>
      </li>
    {% endfor %}
  </ul>
</div>
