{% set total_blocks = blocks | length %}
<ul class="Hero {% if total_blocks == 2 %}Hero--split{% elseif total_blocks == 1 %}Hero--full{% endif %}">
  {% for block in blocks %}
    <li class="Hero-item ">
        <picture class="Hero-image">
            <source media="(min-width: 640px)" srcset="{{ block.image | default('images/placeholder.png') }} 1x">
          <img src="{{ block.image | default('images/placeholder.png') }}" alt="{{ block.alt | default('Hero Image') }}" loading="lazy" class="w-full">
        </picture>
      <div class="Hero-itemContentWrapper">
        <div class="Hero-itemContent">
          <div class="Hero-itemContentContainer">
            <div class='{{ loop.index != 1 ? "paragraph-4" : "paragraph-1" }} Hero-itemContentTitle font-bold'>
              {{ block.title | default('Title') }}
            </div>
            {% include '@components/Molecules/Button/Button.twig' with {
              text: block.linkLabel,
              type: 'primary',
              icon_right: "chevron-right",
              isFill: true,
              classes: loop.index == 1 ? "Button--large" : "Button--small"
            } %}
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
