{% set selected = selected|default(false) %}
{% set title = title|default('') %}
{% set date = date|default('') %}
{% set price = price|default('') %}
{% set img = img|default({src: null, alt:'Logo transporteur'}) %}

<div class='Transporter {% if selected %}selected{% endif %}'>
  <label class='Transporter-content'>
    {% include '../../../Atoms/Form/Radio.twig' with {type:"span", name:"transporter", value:1, checked:selected} %}

    <span>
        <span class='Transporter-title'>{{ title }}</span>
        <span class='Transporter-description'>Livraison estimée le {{ date }}</span>
        <span class='Transporter-bottom'>
          <span>{{ price }}</span>
          {% if img.src %}
            <img src="{{ img.src }}" alt="{{ img.alt }}" loading="lazy">
          {% endif %}
        </span>
    </span>
  </label>
</div>
