{% set classes = '' %}
{% set variant = variant|default('text') %}
{% set classes = classes ~ ' Accordion--' ~ variant %}
{% set title = title|default('') %}
{% set content = content|default('') %}

<details class='Accordion{{ classes }}'>
  <summary class='Accordion-summary'>
    {{ title }}
    {% if variant == 'faq' %}
      <span class='Accordion-icon Accordion-icon--plus'>{{ svg("plus") }}</span>
      <span class='Accordion-icon Accordion-icon--minus'>{{ svg("minus") }}</span>
    {% else %}
      <span class='Accordion-icon'>{{ svg("chevron-down") }}</span>
    {% endif %}
  </summary>
  <div class="Accordion-content">
    {{ content }}
  </div>
</details>
