{% extends 'base.html.twig' %}

{% block title %}{{ 'Login' | trans }}{% endblock %}

{% block body %}
  <div class="max-w-[400px] px-[25px] pt-[30px] pb-[54px] lg:px-0 lg:pt-[50px] lg:pb-[120px] mx-auto">
    {% set form = getForm("thelia.front.customer.login") %}

    {{ form_start(form) }}
    <h2 class="mb-4 h2">{{ 'Log in' | trans }}</h2>
    <div class="flex flex-col gap-6 mb-3">

      <div class="flex flex-col gap-6 mb-3">
        {{ form_row(form.email, { 'label': 'Email' | trans, placeholder: 'Your email' | trans }) }}
        {{ form_row(form.password, { 'label': 'Password' | trans, placeholder: 'Your password' | trans }) }}
      </div>


      <input
        name="{{ field_name(form.account) }}"
        value="1"
        type='hidden'
      >

    </div>

    <div class="flex flex-col gap-[30px]">
				{% include "@components/Molecules/Link/Link.html.twig" with {
        customText: 'Forgot password?' | trans,
        href: '#'
      } %}

      {% include "@components/Molecules/Button/Button.html.twig" with { text: 'Log in' | trans, classes: "w-max", type: "submit" } %}
    </div>
    {{ form_errors(form) }}

    {{ form_end(form) }}

    <hr class="my-[40px]" />

    <h4 class="mb-4 h4">{{ 'Don’t have an account yet?' | trans }}</h4>

    {% include "@components/Molecules/Button/Button.html.twig" with { text: "Sign up" | trans, variant: "secondary" } %}
  </div>
{% endblock %}
