{%  extends 'base.html.twig' %}
{% set productId = attr('product', 'id') %}
{% block title %}{{ attr('product', 'title') }}{% endblock %}

  {% set product = resources('/api/front/products/' ~ productId) %}
  {% set productCategory = product.productCategories|filter(c => c.defaultCategory)|first.category %}

{% set images = resources('/api/front/product_images', {'product.id':productId}) %}
{% if images %}
    {% set imgId = images|first.id  %}
{% endif %}

{% block body %}
  <div class="px-6 lg:px-[120px] py-6">
    <div class="lg:justify-between lg:items-center mb-[29px] lg:flex">
			<a href="#" class="flex gap-3 typo-button-medium"><span class="w-5 h-5">{{ svg('chevron-left')}}</span> {{ productCategory.i18ns.title }}</a>

    </div>

    <div class="lg:container lg:w-full md:w-[540px] w-full mx-auto">
      <section class="lg:flex lg:justify-between gap-[46px]">
        <div class="relative flex">
          <div class="absolute top-0 left-0 hidden -translate-x-full lg:translate-x-0 lg:static md:block">
            {% for image in images %}
              <div>
                <img src="{{ imgId ? "/legacy-image-library/product_image_"~image.id~"/full/%5E*!92,92/0/default.webp" : "@assets/images/placeholder2.webp"}}" />
              </div>
            {% endfor %}
          </div>
          <div>
            <img src="{{ imgId ? "/legacy-image-library/product_image_"~imgId~"/full/%5E*!594,594/0/default.webp" : "@assets/images/placeholder2.webp"}}" />
            <div>
              {% include '@components/Molecules/Accordion/Accordion.twig' with {
                title: "Description",
                content: "",
                iconPlus: "plus",
                iconMinus: "minus",
              } %}
              {% include '@components/Molecules/Accordion/Accordion.twig' with {
                title: "Caractéristiques",
                content: "",
                iconPlus: "plus",
                iconMinus: "minus",
              } %}
              {% include '@components/Molecules/Accordion/Accordion.twig' with {
                title: "Livraison & Retours",
                content: "",
                iconPlus: "plus",
                iconMinus: "minus",
              } %}
              {% include '@components/Molecules/Accordion/Accordion.twig' with {
                title: "Avis vérifiés",
                content: "",
                iconPlus: "plus",
                iconMinus: "minus",
              } %}
            </div>
          </div>
        </div>
        <div class="lg:w-[400px] lg:mx-0 md:w-[540px] mx-auto">
          <h1 class="mb-3 h3">{{ attr('product', 'title') }}</h1>
          {% set chapo = attr('product', 'chapo') %}
          {% if chapo %}
            <div class="paragraph-3">{{ chapo }}</div>
          {% endif %}
          <div class="flex items-center justify-between mt-[30px]">
            <div class="flex items-center gap-2">
              {% include '@components/Molecules/Score/Score.twig' with {score: 3} %}
              <span class="indication text-grey">12 avis</span>
            </div>
            {% include '@components/Molecules/OrderTag/OrderTag.twig' with { customText: 'En stock', variant: 'success', type: 'minimal' } %}

          </div>
          {% set sizes = [
            { value: 1, label: 'S - 34/36' },
            { value: 2, label: 'M - 38/40', disabled: true },
            { value: 3, label: 'L - 42/44' }
          ] %}
          {% set colors = [
            { value: 1, color: '#6969B3', label: 'State Blue' },
            { value: 2, color: '#FFB698', label: 'Vermillon' },
            { value: 3, color: '#767676', label: 'Grey' },
            { value: 4, color: '#84DCC6', label: 'Tiffany Blue', disabled: true },
            { value: 5, color: '#DD6E42', label: 'Sienna' },
            { value: 6, color: '#C17767', label: 'Old Rose' },
          ] %}
          <div class="mt-[30px]">
            {% include '@components/Organisms/Modules/Filters/FilterClassic.twig' with {options: sizes, name: 'size', label: 'Taille',id: 'filterSize'} %}
          </div>
          <div class="mt-4">
            {% include '@components/Organisms/Modules/Filters/FilterColor.twig' with {options: colors, name: 'color', label: 'Couleur',id: 'filterColor'} %}
          </div>
          <div class="mt-[30px] h4">
            1000 €
          </div>
          <div class="mt-[30px]">
            {% include '@components/Molecules/Button/QuantityButton.twig' with {value:1, classes:'Button--large', text:'Ajouter au panier', icon:'cart', fill:true} %}
          </div>
          <div class="mt-[30px]">
            {% include '@components/Organisms/Reinsurance/Reinsurance.twig' with {data: [
              {
                strongText: 'Livraison gratuite',
                text: ' à partir de 50€',
                icon: 'reinsurance-delivery'
              },
              {
                strongText: 'Expédition',
                text: ' sous 24h',
                icon: 'reinsurance-shipping'
              }
            ]} %}
          </div>
        </div>
      </section>
    </div>

    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8 mb-[40px]">

    </div>
  </div>

  <div class="bg-theme-lighter">
    {% include '@components/Layout/CrossSelling/CrossSelling.twig' with {title: 'Derniers produits consultés', categoryId: 1}  %}
  </div>


{% endblock %}
