{% set error = error|default(false) %}
{% set disabled = disabled|default(false) %}
{% set required = required|default(false) %}
{% set name = name|default('') %}
{% set value = value|default(null) %}
{% set min = min|default(null) %}
{% set max = max|default(null) %}

{% set classes = '' %}
{% if error %}
   {% set classes = classes ~ ' FieldNumber--error' %}
{% endif %}

<div class='FieldNumber{{ classes }}' {% if disabled %}disabled{% endif %}>
    <input
      class='FieldNumber-input'
      type='number'
      name='{{ name }}'
      id='{{ name }}'
      placeholder='_'
      {% if value %}value='{{ value }}'{% endif %}
      {% if required %}required{% endif %}
      {% if min %}minlength='{{ min }}'{% endif %}
      {% if max %}maxlength='{{ max }}'{% endif %}
    />
  {% if error %}<span class='FieldNumber-error'>{{ error }}</span>{% endif %}
</div>
