{% set title = title|default('') %}
{% set description = description|default('') %}
{% set nbProducts = nbProducts|default(0) %}

<div class='Subheader Subheader--category'>
  <div class='max-w-[600px] w-full flex flex-col mx-auto'>
    <h1 class='Subheader-title'>{{ title }}</h1>
    <div class='Subheader-description'>
      {{ description }}
    </div>
    <div class='underline Subheader-link'>
      <a href='#' class='link-large'>{{ 'Read more'|trans }}</a>
    </div>
    <div class='Subheader-info Subheader-info--category'>
      <div>{{ nbProducts }} {{ 'product(s)'|trans }}</div>
      {% include '@components/Molecules/Button/Button.html.twig' with {text: 'Filter & Sort'|trans, icon_left:'filter', variant: 'secondary'} %}
    </div>
  </div>
</div>
