{% set title = title|default('') %}
{% set breadcrumb = breadcrumb|default([]) %}
{% set description = description|default('') %}
{% set nbProducts = nbProducts|default(0) %}

<div class='text-black Subheader Subheader--category'>
	{% if breadcrumb|length > 0 %}
		{% include '@components/Molecules/Breadcrumb/Breadcrumb.html.twig' with {items: breadcrumb} %}
	{% endif %}
	<div class='w-full px-0 Category-grid'>
		<div class="col-span-1 lg:col-span-2 lg:col-start-2">
			<h1 class='Subheader-title'>{{ title }}</h1>
			<div class='Subheader-description'>
				{{ description }}
			</div>
			{% if attr('category', 'description') or  attr('category', 'postscriptum') %}
				<div class='underline Subheader-link'>
					<a href='#description' class='link-large'>{{ 'Read more'|trans }}</a>
				</div>
			{% endif %}

			<div class='Subheader-info Subheader-info--category'>
				<div>{{ nbProducts }}
					{{ 'product(s)'|trans }}</div>
				{% include '@components/Molecules/Button/Button.html.twig' with {text: 'Filter & Sort'|trans, icon_left:'filter', variant: 'secondary', toggleDrawer: '#FilterDrawer'} %}
			</div>
		</div>
	</div>
</div>
