{% set title = title|default('') %}
{% set expired = expired|default(false) %}
{% set withoutButton = withoutButton|default(false) %}
{% set cardType = cardType|default('') %}
{% set number = number|default('') %}
{% set date = date|default('') %}

<div class='PaymentCard'>
  <div class='PaymentCard-icon'><span>{{ svg("calendar") }}</span></div>
  <div class='PaymentCard-title'>{{ title }}</div>
  <div class='{% if not expired %}flex flex-cols items-end justify-between {% endif %}'>
    <div class='PaymentCard-content'>
      <div class='font-semibold'>{{ cardType }}</div>
      <div>N° {{ number }}</div>
      {% if expired %}
        <div class='font-bold text-error-dark'>Expirée</div>
      {% else %}
        <div>Expire le {{ date }}</div>
      {% endif %}
    </div>
    {% if not withoutButton %}
      <div class='{% if expired %}mt-2 flex gap-2{% endif %}'>
        {% include '@components/Molecules/Button/Button.twig' with {classes: 'Button--small',text:'Supprimer', icon_left: 'delete'} %}
        {% if expired %}
          {% include '@components/Molecules/Button/Button.twig' with {classes: 'Button--small', variant:'secondary', text:'Mettre à jour'} %}
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
