
{% for title, line in icons %}
  <div>{{ title }}</div>
  <div class='flex flex-wrap gap-4'>
    {% for icon in line %}
   <div class='flex flex-col items-center {{ color }}'>
     <div class='{{ size }} '>
      {{ ux_icon(icon) }}
     </div>
     <div class='text-xs'>{{ icon }}</div>
   </div>
    {% endfor %}
  </div>
{% endfor %}
