{% set withNewsletter = withNewsletter|default(false) %}
{% set footerStoreInfosClasses = '' %}
{% set footerLinksClasses = 'flex flex-col gap-2 md:gap-6 md:flex-row lg:flex-col Footer-links mb-[30px] md:mb-0 md:pb-[70px] md:px-[50px] md:pt-[30px] md:border-t md:border-t-grey-lighter lg:border-none ' %}
{% if withNewsletter %}
	{% set footerLinksClasses = footerLinksClasses ~ 'md:col-span-2 lg:col-span-1 text-black' %}
	{% set footerStoreInfosClasses = footerStoreInfosClasses ~ 'md:border-l md:border-l-grey-lighter lg:border-r lg:border-r-grey-lighter ' %}
	{% set footerContainerClasses = 'md:grid-cols-2 lg:grid-cols-3' %}
{% else %}
	{% set footerLinksClasses = 'flex flex-col gap-2 md:gap-6 Footer-links mb-[30px] md:mb-0 md:pb-[70px] md:pt-[50px] md:pl-[40px] text-black' %}
	{% set footerStoreInfosClasses = footerStoreInfosClasses ~ 'md:border-r md:border-r-grey-lighter' %}
	{% set footerContainerClasses = 'md:grid-cols-2' %}
{% endif %}

<footer class='Footer bg-theme-lightest px-6 md:px-0 pt-[50px] md:pt-0 pb-[34px] md:pb-[45px] flex flex-col'>
	<div class='md:grid {{footerContainerClasses}}'>
		{% if withNewsletter %}
			<div class='Footer-newsletter mb-[50px] md:mb-0 md:pt-[50px] md:pl-[50px] lg:pt-[100px]'>
				<div class='font-semibold paragraph-1'>Newsletter</div>
				<div class='mb-4 paragraph-5'>Suivez nos dernières actualités & promotions</div>
				{% include '@components/Molecules/Button/Button.html.twig' with {text: 'Je m\'inscris', type: 'primary', isFill: true, classes: "Button--large w-full md:w-auto"} %}
      </div>
    {% endif %}
    <div class='Footer-store-infos mb-[30px] md:py-[50px] md:pl-[40px] md:mb-0 lg:pt-[100px] lg:pb-[90px] {{footerStoreInfosClasses}}'>
      <div class='mb-1 font-semibold paragraph-1'>Nom de l'entreprise</div>
      <div class='Footer-store-infos-address'>
        <div class='paragraph-5'>Adresse première ligne <br> Complément d'adresse <br> 00000 Ville-sur-Fleuve <br> PAYS</div>
        <div class='my-4 paragraph-5'>Tel. +33 00 00 00 00 00</div>
      </div>
      {% include '@components/Molecules/Button/Button.html.twig' with {text: 'Contactez nous', type: 'primary', icon_right: "email", isFill: true, classes: "w-full md:w-auto Button--secondary Button--large"} %}
    </div>
    <ul class='lg:pt-[100px] {{footerLinksClasses}}'>
      {% set footerLinkClass = 'underline hover:no-underline focus:no-underline hover:opacity-75 focus:opacity-75' %}
      <li class='paragraph-5'><a href='#' class="{{footerLinkClass}}">Plan du site</a></li>
      <li class='paragraph-5'><a href='#' class="{{footerLinkClass}}">Mentions légales</a></li>
      <li class='paragraph-5'><a href='#' class="{{footerLinkClass}}">Données personnelles</a></li>
      <li class='paragraph-5'><a href='#' class="{{footerLinkClass}}">Cookies</a></li>
      <li class='paragraph-5'><a href='#' class="{{footerLinkClass}}">Conditions générales de vente</a></li>
    </ul>
  </div>

  <div class='md:flex md:justify-between md:items-center md:border-t md:border-t-grey-lighter md:px-[50px] md:pt-[30px]'>
    <div class='flex justify-between md:gap-[30px] mb-5 md:mb-0 text-black Footer-socials'>
      <div class='h-7 w-7 md:w-10 md:h-10'>
        {{ ux_icon('instagram') }}
      </div>
      <div class='h-7 w-7 md:w-10 md:h-10'>
        {{ ux_icon('pinterest') }}
      </div>
      <div class='h-7 w-7 md:w-10 md:h-10'>
        {{ ux_icon('youtube') }}
      </div>
      <div class='h-7 w-7 md:w-10 md:h-10'>
        {{ ux_icon('twitter') }}
      </div>
      <div class='h-7 w-7 md:w-10 md:h-10'>
        {{ ux_icon('facebook') }}
      </div>
      <div class='h-7 w-7 md:w-10 md:h-10'>
        {{ ux_icon('linkedin') }}
      </div>
    </div>

    <div class='text-grey indication indication-small'>© OpenStudio - {{ 'now' | date('Y') }}</div>
  </div>
</footer>
