<div>
  <label class="Checkbox {{ error ? 'error'  : ''}}">
    <input type="checkbox" {% if disabled %}disabled{% endif %}>
    <div class="Checkbox-checkmark">
      <span>{{ source("/icons/checkbox.svg") }}</span>
    </div>
    <span>Unchecked</span>
  </label>

  <label class="Checkbox {{ error ? 'error'  : ''}}">
    <input type="checkbox" checked="checked" {% if disabled %}disabled{% endif %}>
    <div class="Checkbox-checkmark">
      <span>{{ source("/icons/checkbox.svg") }}</span>
    </div>
    <span>Checked</span>
  </label>

  <label class="Checkbox indeterminate {{ error ? 'error'  : ''}}">
    <input type="checkbox" {% if disabled %}disabled{% endif %}>
    <div class="Checkbox-checkmark">
      <span>{{ source("/icons/checkbox.svg") }}</span>
    </div>
    <span>Undefined</span>
  </label>
</div>
