{% block form_row %}
	{% set type = form.vars.block_prefixes|slice(-2, 1)[0] %}
	{% set widget_value = form.vars.value %}
	{% set widget_attr = form.vars.attr %}
	{% set label = label is defined ? label : form.vars.label %}
	{% set placeholder = placeholder is defined ? placeholder : form.vars.placeholder is defined ? form.vars.placeholder : null %}

	{% if type == 'checkbox' %}
		{% elseif type == 'filter' %}
			{% include '@formTwig/fields/filter.html.twig' with {choices: form.vars.choices, title: form.vars.label, values: widget_value} %}
		{% elseif type == 'sort' %}
			{% include '@formTwig/fields/sort.html.twig' with {choices: form.vars.choices, title: form.vars.label, values: widget_value} %}
		{% elseif type == 'choice' %}
			{% include '@formTwig/fields/choice.html.twig' with {choices: form.vars.choices, title: form.vars.label, values: widget_value } %}
		{% elseif type == 'text' or type == 'email' %}
			{% include "@components/Molecules/Fields/FieldInput/FieldInput.html.twig" with {
      label:  label,
      name: form.vars.full_name,
      type: type,
      placeholder: placeholder,
      required: form.vars.required,
    } %}
		{% elseif type == 'password' %}
			{% include "@components/Molecules/Fields/FieldInput/FieldInput.html.twig" with {
      label: label,
      name: form.vars.full_name,
      type: type,
      placeholder: placeholder,
      required: form.vars.required,
    } %}
			{% include "@components/Molecules/PasswordControls/PasswordControls.html.twig" %}
		{%  else %}
			{# Appel du rendu par défaut si vous n'avez pas besoin de personnaliser davantage #}
			{{ block('form_widget_simple') }}
	{% endif %}
	{# Erreurs #}
	{{ form_errors(form) }}

{% endblock %}

{% block form_errors %}
	{% for error in errors %}
		{% include "@components/Organisms/SnackBar/SnackBar.html.twig" with {text: error.message, variant: 'error', withIcon:true} %}
	{% endfor %}
{% endblock %}

{% block fieldset_row %}
	{% set class = form.vars.attr.class|default('') %}
	{% set label = form.vars.label|default(null) %}
	<fieldset {% if class %} class="Fieldset {{class}}" {% endif %}>
		{% if label %}
			<legend class="Fieldset-legend {{form.vars.label_attr.class ?? ''}}">{{label}}</legend>
		{% endif %}
		<ul class="Fieldset-group">
			{% for row in form.vars.form.children %}
				<li>
					{{ form_row(row) }}
				</li>
			{% endfor %}
		</ul>
	</fieldset>
{% endblock %}
