{% set number = number|default('') %}
{% set status = status|default(0) %}
{% set steps = ["Order validated", "Order in preparation", "Order shipped", "Order delivered"] %}

<div class='DeliveryTracking'>
  <div class='DeliveryTracking-content'>
    <div>
      <div class='DeliveryTracking-title'>{{ 'Delivery tracking'| trans }}</div>
      <div class='DeliveryTracking-desc'>{{ 'Tracking number'| trans}} {{ number }}</div>
    </div>
    {% include '@components/Molecules/Button/Button.html.twig' with {classes: 'Button--small',text:'Track my package'|trans} %}
  </div>
  <hr />
  <div class='DeliveryTracking-steps'>
    {% for index, step in steps %}
      <div class='DeliveryTracking-step'><span class='DeliveryTracking-icon'>{% if index == status %}{{ ux_icon("checkmark") }}{% endif %}</span>{{ step | trans }}</div>
    {% endfor %}
  </div>
</div>
