{% set icon = icon|default(null) %}
{% set closeOnClick = closeOnClick|default(false) %}
{% set onClick = onClick|default(null) %}
{% set customText = customText|default('') %}
{% set href = href|default(null) %}

{% set classes = '' %}
{% set classes = classes ~ ' Tag--' ~ (variant|default('validated')) %}
{% if closeOnClick %}
	{% set classes = classes ~ ' Tag--close' %}
{% endif %}
{% if icon %}
	{% set classes = classes ~ ' Tag--withIcon' %}
{% endif %}

{% if not closeOnClick and not href and not onClick %}
	<span class="Tag{{ classes }}">
		{% if icon %}
      <span class="Tag-icon">{{ ux_icon(icon) }}</span>
		{% endif %}
		{{ customText }}
	</span>
{% else %}
	<button class="Tag{{ classes }} Tag--action" {% if href %} href="{{ href }}" {% endif %} {% if onClick %} onclick="onClick" {% endif %}>
		{% if icon %}
			<span class="Tag-icon">{{ ux_icon(icon) }}</span>
		{% endif %}
		{{ customText }}
		{% if closeOnClick %}
			<span class='Tag-iconClose'>{{ ux_icon("close") }}</span>
		{% endif %}
	</button>
{% endif %}
