{% set id = id|default(null) %}
{% set inactive = inactive|default(false) %}
{% set classes = classes|default('') %}
{% set small = small|default(false) %}
{% set subText = subText|default(null) %}
{% set icon = icon|default(null) %}
{% set text = text|default('') %}

<button {% if id %} id="{{id}}" {% endif %} class='HeaderButton {% if inactive %}HeaderButton--inactive{% endif %} {{ classes }} {% if small %}HeaderButton--small{% endif %}'>
  {% if icon %}
    <span class='HeaderButton-icon'>{{ ux_icon(icon) }}</span>
  {% endif %}

  <div class='flex flex-col items-start HeaderButton-text'>
    <span class="HeaderButton-text">{{ text }}</span>
    {% if subText %}
      <span class='HeaderButton-subText'>{{ subText }}</span>
    {% endif %}
  </div>
</button>
