<button {% if id %} id="{{id}}" {% endif %} class='HeaderButton {% if inactive %}HeaderButton--inactive{% endif %} {{ classes }} {% if small %}HeaderButton--small{% endif %}'>
	{% if icon %}
		<span class='HeaderButton-icon'>{{ source("/icons/" ~ icon ~ ".svg") }}</span>
	{% endif %}

	<div class='flex flex-col items-start HeaderButton-text'>
		<span class="HeaderButton-text">{{ text }}</span>
		{% if subText and not mobile %}
			<span class='HeaderButton-subText'>{{ subText }}</span>
		{% endif %}
	</div>
</button>
