{% set selected = selected|default(false) %}
{% set title = title|default('') %}
{% set date = date|default('') %}
{% set price = price|default('') %}
{% set registeredClient = registeredClient|default(false) %}
{% set newClient = newClient|default(false) %}
{% set closed = closed|default(false) %}
{% set address = address|default({
  title: "",
  name: "",
  address1: "",
  zipCode: '',
  city: '',
  country: '',
  phone: '',
}) %}
{% set hours = hours|default([]) %} {# hours: [{ day: 'lundi', hours: '14h - 19h' }, ...] #}
{% set carbone = carbone|default(null) %}

<div class='StoreDelivery {% if selected %}selected{% endif %}'>
  <label class='StoreDelivery-content'>
    {% include '@components/Atoms/Form/Radio.html.twig' with {type:"span", name:"StoreDelivery", value:1, checked:selected} %}

    <span>
        <div class='flex justify-between'>
          <div>
            <span class='StoreDelivery-title'>{{ title }}</span>
            <span class='StoreDelivery-description'>{{ 'Estimated delivery on'|trans }} {{ date }}</span>
          </div>
          <div class="w-12 h-12 text-theme-medium">
          {{ ux_icon("reinsurance-store") }}
          </div>
        </div>
        <div class='flex items-center justify-between mt-6'>
          <span class='StoreDelivery-price'>{{ price }}</span>
          {% if carbone %}
            {% include '@components/Molecules/Tag/Tag.html.twig' with { icon: "carbone", customText: carbone} %}
          {% endif %}
        </div>

        {% if registeredClient and newClient == false %}
        <div class="mt-4 border-t border-t-grey-lighter lg:flex lg:justify-between lg:items-center">
          <span class='my-4 lg:my-6 paragraph-2'>Magasin de Ville-sur-Fleuve</span>

          {% include '@components/Molecules/Button/Button.html.twig' with {text: 'Choose another shop'|trans, classes:'Button--fill lg:w-max'} %}
        </div>
        {% endif %}

        {% if newClient %}
          {% include '@components/Molecules/Button/Button.html.twig' with {text: 'Choose another shop'|trans, classes:'Button--fill mt-4'} %}
        {% endif %}

        {% if not newClient %}
          {% if closed %}
            <span class='StoreDelivery-opening closed'>{{ 'Close'|trans }} {{ 'currently'|trans }}</span>
          {% else %}
            <span class='StoreDelivery-opening'>{{ 'Open'|trans }} {{ 'currently'|trans }}</span>
          {% endif %}
          <span class='StoreDelivery-address'>
            <span>{{ address.address1 }},</span>
            {% if address.address2 %}<span>{{ address.address2 }},</span>{% endif %}
            <span>{{ address.zipCode }} {{ address.city }}</span>
          </span>
        {% endif %}

    </span>
  </label>
  {% if newClient == false %}
  <div class='StoreDelivery-bottom'>
    <button class='StoreDelivery-hours' data-show-hours={{ 'See opening hours' |trans }} data-hide-hours={{ 'hide opening times' |trans }}>{{ ux_icon("clock") }}<span>{{ 'See opening hours' |trans }}</span></span></button>
  </div>
  <div class='StoreDelivery-hoursListing md:hidden'>
    <table>
      {% for hour in hours %}
        <tr>
          <td>{{ hour.day }}</td>
          <td>{{ hour.hours }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
</div>
