{% set productThumbnailUrl = base_url ~ "/images/placeholder2.webp" %}
{% set productTumbnailTitle = "placeholder" %}
{% set classes = classes|default('') %}
{% set imgWidth = imgWidth|default(300) %}
{% set imgHeight = imgHeight|default(300) %}
{% set displayWishButton = displayWishButton|default(false) %}
{% set isOrderCard = isOrderCard|default(false) %}
{% set isAddToCartConfirmation = isAddToCartConfirmation|default(false) %}

<div class="ProductCard {{ classes }}">
  {% if isAddToCartConfirmation or isRemoveProduct %}
    <span class='ProductCard-iconClose'>{{ source("/icons/close.svg") }}</span>
  {% endif %}
  <div class="ProductCard-header">
    <div class="ProductCard-tagList">
      {% if isNew|default(0) %}
        {% include '../../Molecules/Tag/Tag.twig' with {customText: 'Nouveau', variant: 'vermillon'} %}
      {% endif %}
      {% if isPromo|default(0) %}
        {% include '../../Molecules/Tag/Tag.twig' with {customText: '-15%', variant: 'error'} %}
      {% endif %}
    </div>

    {% if displayWishButton %}
      <button
        type="button"
        class="ButtonWishList {% if inWishlist %} in-wishlist {% endif %}"
      >
          <span class="in-wishlist-icon">
              <span>{{ source("/icons/heart-fill.svg") }}</span>
          </span>
          <span class="not-in-wishlist-icon">
              <span>{{ source("/icons/heart.svg") }}</span>
          </span>
      </button>
    {% endif %}
  </div>
  {% if isAddToCartConfirmation %}
    <p class="ProductCard-addToCartTitle">
      Votre produit a été ajouté au panier
    </p>
  {% endif %}
  <div class="ProductCard-mainContent">
    <a class="ProductCard-imgLink" href="#">
      <figure class="ProductCard-img">
        {% if productThumbnailUrl %}
          <img src="{{ productThumbnailUrl }}" alt="{{ productTumbnailTitle }}"
                  title="{{ productTumbnailTitle }}"  loading="lazy" imgWidth="{{ imgWidth }}" imgHeight="{{ imgHeight }}">
        {% else %}
            <img src="{{ source("/images/placeholder.svg") }}" alt="{{ productTumbnailTitle }}"
                  title="{{ productTumbnailTitle }}"  loading="lazy" imgWidth="{{ imgWidth }}" imgHeight="{{ imgHeight }}">
        {% endif %}
      </figure>
    </a>
    <div class="ProductCard-desc">
      {% if not isRemoveProduct %}
        <a href="#" class="ProductCard-title">{{ productTitle }}</a>
      {% endif %}
      {% if secondaryTitle %}
        <div class="ProductCard-subTitle paragraph-3">{{ secondaryTitle }}</div>
      {% endif %}
      {% if isOrderCard or isPurchaseFunnelCard or isAddToCartConfirmation %}
        <div class="ProductCard-orderInfos paragraph-6">
          <span class="ProductCard-secondaryTitle">{{ orderSecondaryTitle }}</span>
          <span class="ProductCard-secondarySize">Taille : {{ size }}</span>
          {% if quantity %} <span>Quantié : {{ quantity }}</span> {% endif %}
        </div>
      {% endif %}
      {% if isRemoveProduct %}
        <div class="ProductCard-removeProductMessage">
          {{ productTitle }} a été supprimé de votre panier.
        </div>
        {% include '../../Molecules/Button/Button.twig' with {classes:'Button--small', text: "Restaurer", icon_left: "restore" } %}
      {% endif %}
      <div class="ProductCard-footer">
        {% if hasReviews or hasColors %} 
          <div class="ProductCard-footerLeft">
            {% if hasReviews %}
              <div class="Rating">
                <div class="Rating-mark">
                  {% for i in 1..5 %}
                    {% if rate >= i %}
                      <div>
                        {{ source("/icons/star-full.svg") }}
                      </div>
                    {% elseif rate <= i and rate > i - 1 %}
                      <div>
                        {{ source("/icons/star-half-empty.svg") }}
                      </div>
                    {% else %}
                      <div class="star-empty">
                        {{ source("/icons/star-full.svg") }}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <span class="Rating-reviewCount indication-small">
                  {{reviewCount}} Avis
                </span>
              </div>
            {% endif %}
            {% if hasColors %}
              <div class="Colors">
                {% set limit = 6 %}
                {% set count = 0 %}
                {% for color in colors %}
                    {% if count < limit %}
                        <a href="#" class="Colors-item" style="background-color:{{ color }}">
                        </a>
                        {% set count = count + 1 %}
                    {% else %}
                        <div class="Colors-others">...</div>
                    {% endif %}
                {% endfor %}  
              </div>
            {% endif %}
          </div>
        {% endif %}
        {% if isPromo|default(0) %}
          <div class="ProductCard-footerRight">
            <div class="ProductCard-price">{{ promoPrice }}</div>
            <div class="ProductCard-originalPrice">{{ price }}</div>
          </div>
        {% else %}
          <div class="ProductCard-price">{{ price }}</div>
        {% endif %}
        {% if isPurchaseFunnelCard|default(0) %}
          {% if isOutOfStock %} 
            <div class="ProductCard-unavailable">
              Indisponible
            </div>
          {% else %}
            <div class="ProductCard-quantity">
              {% include '../../Molecules/Button/Quantity.twig' with {disabled: false, value:quantityChoice, classes:'Button--small'} %}
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  {% if isPurchaseFunnelCard|default(0) %}
    <div class="bottom-card-buttons">
      <button {% if disabled %}disabled{% endif %} type='button'>
        <span>{{ source("/icons/show.svg") }}</span>
        Voir le produit
      </button>
      <button {% if disabled %}disabled{% endif %} type='button'>
        <span>{{ source("/icons/delete.svg") }}</span>
        Supprimer
      </button>
    </div>
  {% endif %}
  {% if isAddToCartConfirmation %}
    <div class="ProductCard-ProductCardAddToCartBottom">
      {% include '../../Molecules/Button/Button.twig' with {classes:'Button--medium', variant: "primary", text: "Voir mon panier" } %}
      {% include '../../Molecules/Button/Button.twig' with {classes:'Button--medium', variant: "secondary", text: "Poursuivre mes achats" } %}
    </div>
  {% endif %}
  {% if isRemoveProduct|default(0) %}
    <div class="ProductCard-progressBar">
        <div class="ProductCard-progressBarInner">
        </div>
    </div>
  {% endif %}
</div>
