{% set classes = classes|default('') %}
{% set productTitle = productTitle|default(i18ns.title ?? '') %}
{% set productLink = publicUrl|default('#') %}
{% set orderSecondaryTitle = orderSecondaryTitle|default('') %}
{% set price = price|default('') %}
{% set promoPrice = promoPrice|default('') %}
{% set size = size|default('') %}
{% set attributesAv = attributesAv|default({}) %}
{% set attributesAvColor = attributesAvColor|default({}) %}
{% set quantity = quantity|default(null) %}
{% set imgWidth = imgWidth|default(300) %}
{% set imgHeight = imgHeight|default(300) %}
{% set displayWishButton = displayWishButton|default(false) %}
{% set inWishlist = inWishlist|default(false) %}
{% set isOrderCard = isOrderCard|default(false) %}
{% set isAddToCartConfirmation = isAddToCartConfirmation|default(false) %}
{% set isRemoveProduct = isRemoveProduct|default(0) %}
{% set disabled = disabled|default(0) %}
{% set isPurchaseFunnelCard = isPurchaseFunnelCard|default(0) %}
{% set isOutOfStock = isOutOfStock|default(0) %}
{% set isNew = isNew|default(0) %}
{% set isPromo = isPromo|default(0) %}
{% set hasColors = hasColors|default(0) %}
{% set colors = colors|default([]) %}
{# colors: ['#667761','#84DCC6',...] #}
{% set rate = rate|default(null) %}
{% set secondaryTitle = secondaryTitle|default(i18ns.chapo ?? null) %}
{% set quantityChoice = quantityChoice|default(1) %}

{%  if productSaleElements is defined %}

  {% set defaultPse = null %}

  {% for pse in productSaleElements %}
    {% if pse.isDefault %}
      {% set defaultPse = pse %}
    {% endif %}
  {% endfor %}

  {% set price = defaultPse.productPrices|first.price ~ '€' %}
  {% set promoPrice = defaultPse.productPrices|first.promoPrice ~ '€' %}

  {% set isPromo = defaultPse ? defaultPse.promo|default(false) : false %}
  {% set isNew = defaultPse ? defaultPse.newness|default(false) : false %}

{% endif %}
{%  if id is defined and img is not defined %}
  {% set images = resources('/api/front/product_images', {'product.id':id, itemsPerPage:1}) %}
  {% if images %}
    {% set img = {url: '/legacy-image-library/product_image_'~ images|first.id ~'/full/%5E*!386,280/0/default.webp', alt: i18ns.title} %}
  {% endif %}
{% endif %}

{% if img is not defined %}
    {% set img = img|default({url: '@assets/images/placeholder2.webp', alt:''}) %}
{% endif %}

<div class="ProductCard {{ classes }}">
	{% if isAddToCartConfirmation or isRemoveProduct %}
		<span class='ProductCard-iconClose'>{{ svg("close") }}</span>
	{% endif %}
	<div class="ProductCard-header">
		<div class="ProductCard-tagList">
			{% if isNew %}
        {% include '@components/Molecules/Tag/Tag.twig' with {customText: 'New'|trans, variant: 'vermillon'} %}
			{% endif %}
			{% if isPromo %}
        {% include '@components/Molecules/Tag/Tag.twig' with {customText: '-15%', variant: 'error'} %}
			{% endif %}
		</div>

		{% if displayWishButton %}
			<button type="button" class="ButtonWishList {% if inWishlist %} in-wishlist {% endif %}">
				<span class="in-wishlist-icon">
					<span>{{ svg("heart-fill") }}</span>
				</span>
				<span class="not-in-wishlist-icon">
					<span>{{ svg("heart") }}</span>
				</span>
			</button>
		{% endif %}
	</div>
	{% if isAddToCartConfirmation %}
		<p class="ProductCard-addToCartTitle">
			{{ 'Your product has been added to the cart' |trans }}
		</p>
	{% endif %}
	<div class="ProductCard-mainContent">
		<a class="ProductCard-imgLink" href="{{productLink}}">
			<figure class="ProductCard-img">
				<img src="{{ img.url }}" alt="{{ img.alt }}" title="{{ img.alt }}" loading="lazy">
			</figure>
		</a>
		<div class="ProductCard-desc">
			{% if not isRemoveProduct %}
				<a href="{{productLink}}" class="ProductCard-title">{{ productTitle }}</a>
			{% endif %}
			{% if secondaryTitle %}
				<div class="ProductCard-subTitle paragraph-3">{{ secondaryTitle }}</div>
			{% endif %}
			{% if isOrderCard or isPurchaseFunnelCard or isAddToCartConfirmation %}
				<div class="ProductCard-orderInfos paragraph-6">
					<span class="ProductCard-secondaryTitle">{{ orderSecondaryTitle }}</span>
					{% for attribute,value in attributesAv %}
						<span class="ProductCard-secondarySize">{{attribute}}
							:
							{{ value }}</span>
					{% endfor %}
					{% if quantity %}
						<span>{{ 'Quantity' |trans }}:
							{{ quantity }}</span>
					{% endif %}

					{% if attributesAvColor %}

						<span class="flex items-center ProductCard-secondarySize">
							<span class="mr-1 Colors-item" style="background-color:{{ attributesAvColor.hexa }}"></span>{{ t('Color') }}:
							{{ attributesAvColor.name }}</span>
					{% endif %}
				</div>
			{% endif %}
			{% if isRemoveProduct %}
				<div class="ProductCard-removeProductMessage">
					{{ productTitle }}
					{{ 'has been removed from your cart.' |trans }}
				</div>
        {% include '@components/Molecules/Button/Button.twig' with {classes:'Button--small', text: 'Restore'|trans , icon_left: "restore" } %}
			{% endif %}
			<div class="ProductCard-footer">
        {% if rate != null or colors|length > 0 %}
					<div class="ProductCard-footerLeft">
						{% if rate != null %}
							<div class="Rating">
								<div class="Rating-mark">
									{% for i in 1..5 %}
										{% if rate >= i %}
											<div>
												{{ svg("star-full") }}
											</div>
										{% elseif rate <= i and rate > i - 1 %}
											<div>
												{{ svg("star-half-empty") }}
											</div>
										{% else %}
											<div class="star-empty">
												{{ svg("star-full") }}
											</div>
										{% endif %}
									{% endfor %}
								</div>
								<span class="Rating-reviewCount indication-small">
									{{reviewCount}}
									{{ 'Reviews' |trans }}
								</span>
							</div>
						{% endif %}
						{% if hasColors %}
							<div class="Colors">
								{% set limit = 6 %}
								{% for color in colors %}
									{% if loop.index0 < limit %}
										<a href="#" class="Colors-item" style="background-color:{{ color }}"></a>
									{% else %}
										<div class="Colors-others">...</div>
									{% endif %}
								{% endfor %}
							</div>
						{% endif %}
					</div>
				{% endif %}
				{% if isPromo %}
					<div class="ProductCard-footerRight">
						<div class="ProductCard-price">{{ promoPrice }}</div>
						<div class="ProductCard-originalPrice">{{ price }}</div>
					</div>
				{% else %}
					<div class="ProductCard-price">{{ price }}</div>
				{% endif %}
				{% if isPurchaseFunnelCard|default(0) %}
					{% if isOutOfStock %}
						<div class="ProductCard-unavailable">
							{{ 'Unavailable' |trans }}
						</div>
					{% else %}
						<div class="ProductCard-quantity">
              {% include '@components/Molecules/Button/Quantity.twig' with {disabled: false, value:quantityChoice, classes:'Button--small'} %}
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
	{% if isPurchaseFunnelCard|default(0) %}
		<div class="bottom-card-buttons">
			<button class='hover:bg-theme-lighter' {% if disabled %} disabled {% endif %} type='button'>
				<span>{{ svg("show") }}</span>
				{{ 'View product'|trans }}
			</button>
			<button class='hover:bg-theme-lighter' {% if disabled %} disabled {% endif %} type='button'>
				<span>{{ svg("delete") }}</span>
				{{ 'Delete' |trans }}
			</button>
		</div>
	{% endif %}
	{% if isAddToCartConfirmation %}
		<div class="ProductCard-ProductCardAddToCartBottom">
      {% include '@components/Molecules/Button/Button.twig' with {classes:'Button--medium', variant: "primary", text: "View my cart"|trans } %}
      {% include '@components/Molecules/Button/Button.twig' with {classes:'Button--medium', variant: "secondary", text: "Continue shopping"|trans } %}
		</div>
	{% endif %}
	{% if isRemoveProduct %}
		<div class="ProductCard-progressBar">
			<div class="ProductCard-progressBarInner"></div>
		</div>
	{% endif %}
</div>
