{% set storeName = storeName|default('') %}
{% set displayHours = displayHours|default(false) %}
{% set hours = hours|default([]) %} {# hours: [{ day: 'lundi', hours: '14h - 19h' }, ...] #}
{% set address = address|default({
  title: "",
  name: "",
  address1: "",
  zipCode: '',
  city: '',
  country: ''
}) %}

<div class='StoreInfo'>
  <div class='StoreInfo-title'>{{ storeName }}</div>
  <div class='StoreInfo-address'>
    <span>{{ address.address1 }},</span>
    {% if address.address2 %}<span>{{ address.address2 }},</span>{% endif %}
    <div>{{ address.zipCode }} {{ address.city }}</div>
  </div>
  <div class='justify-between lg:flex align-center'>
    <button class='StoreInfo-hours'>{{ svg("clock") }}{{ 'Shop opening times'|trans }}</button>
    <div class='hidden lg:block'>
      {% include '@components/Molecules/Button/Button.twig' with {text: 'Choose this shop'|trans, classes:'Button--fill lg:Button--unfill'} %}
    </div>
  </div>
  <div class='StoreInfo-hoursListing {% if not displayHours|default(false) %}hidden{% endif %}'>
      {% for hour in hours %}
        <div>{{ hour.day }}</div>
        <div>{{ hour.hours }}</div>
      {% endfor %}
  </div>
  <div class='mt-4 lg:hidden'>
    {% include '@components/Molecules/Button/Button.twig' with {text: 'Choose this shop'|trans, classes:'Button--fill'} %}
  </div>
</div>
