<label class="Checkbox {{ classes|default('') }} {{ error ? 'error'  : ''}}">
  <input type="checkbox"
         name='{{ name }}'
         value='{{ value }}'
         {% if disabled %}disabled{% endif %}
         {% if checked %}checked{% endif %}
  >
  <div class="checkmark">
    <span>{{ source("/icons/checkbox.svg") }}</span>
  </div>
  <span>{{ label }}</span>
</label>
