<label class="Radio {{ classes|default('') }} {{ error ? 'error'  : ''}}">
  <input
    type="radio"
    name='{{ name }}'
    value='{{ value }}'
    {% if disabled %}disabled{% endif %}
    {% if checked %}checked{% endif %}
  >
  <span class="checkmark"></span>
  <span>{{ label }}</span>
</label>
