{% set classes = classes|default('') %}
{% set error = error|default(0) %}
{% set name = name|default('') %}
{% set value = value|default('') %}
{% set disabled = disabled|default(false) %}
{% set checked = checked|default(false) %}
{% set labelOff = labelOff|default(null) %}
{% set labelOn = labelOn|default(null) %}


<label class="ToggleButton  {{ classes }} {{ error ? 'error'  : ''}}">
  <input type="checkbox"
         name='{{ name }}'
         value='{{ value }}'
         {% if disabled %}disabled{% endif %}
        {% if checked %}checked{% endif %}
  >
  {% if labelOff %}
    <span class="ToggleButton-uncheckedLabel">{{ labelOff }}</span>
  {% endif %}
  <span class="ToggleButton-wrapper">
    <span></span>
  </span>
  {% if labelOn %}
    <span class="ToggleButton-checkedLabel">{{ labelOn }}</span>
  {% endif %}
</label>
