{% set id = id|default('') %}
{% set value = value|default('') %}
{% set model = model|default(null) %}
{% set name = name|default(model)|default('') %}
{% set customText = customText|default('') %}
{% set selected = selected|default(false) %}
{% set disabled = disabled|default(false) %}
{% set icon = icon|default(null) %}
{% set closeButton = closeButton|default(null) %}
{% set iconColor = iconColor|default(null) %}
{% set inputType = inputType|default('checkbox') %}
{% set drawer = drawer|default(true) %}

{% set classes = '' %}
{% if icon %}
	{% set classes = classes ~ ' FilterPill--withIcon' %}
{% endif %}
{% if drawer %}
	{% set classes = classes ~ ' FilterPill--drawer' %}
{% endif %}

<label class="FilterPill{{ classes }}" {% if drawer %} data-select-option="{{customText}}" {% endif %}>
	<input type='{{ inputType }}' class='hidden' value='{{ value }}' name='{{ name }}' {% if disabled %} disabled {% endif %} {% if model %} data-model="{{model}}" {% endif %} {% if selected %} checked {% endif %}/>
	{% if icon %}
		<span class="FilterPill-icon" {% if iconColor %} style="color:{{ iconColor }}" {% endif %}>{{ ux_icon(icon) }}</span>
	{% endif %}
	{{ customText }}
	{% if closeButton %}
		<span class='FilterPill-iconClose'>{{ ux_icon("close") }}</span>
	{% endif %}
</label>
