{% set classes = '' %}
{% if selected %}
   {% set classes = classes ~ ' FilterPill--selected' %}
{% endif %}
{% if icon %}
   {% set classes = classes ~ ' FilterPill--withIcon' %}
{% endif %}

<label class="FilterPill{{ classes }}" {% if disabled %}disabled{% endif %}>
  <input type='{{ inputType|default('checkbox') }}' class='hidden' value='{{ value }}' name='{{ name }}' />
  {% if icon %}
    <span class="FilterPill-icon" {% if iconColor %}style="color:{{ iconColor }}"{% endif %}>{{ source("/icons/" ~ icon  ~".svg") }}</span>
  {% endif %}
  {{ customText }}
  {% if closeButton %}
    <span class='FilterPill-iconClose'>{{ source("/icons/close.svg") }}</span>
  {% endif %}
</label>
