{% set id = id|default('') %}
{% set value = value|default('') %}
{% set name = name|default('') %}
{% set customText = customText|default('') %}
{% set selected = selected|default(false) %}
{% set disabled = disabled|default(false) %}
{% set icon = icon|default(null) %}
{% set closeButton = closeButton|default(null) %}
{% set iconColor = iconColor|default(null) %}
{% set inputType = inputType|default('checkbox') %}
{% set model = model|default(null) %}

{% set classes = '' %}
{% if icon %}
	{% set classes = classes ~ ' FilterPill--withIcon' %}
{% endif %}

<label class="FilterPill{{ classes }}" for="{{id}}">
	<input id="{{id}}" type='{{ inputType }}' class='hidden' value='{{ value }}' name='{{ name }}' {% if disabled %} disabled {% endif %} {% if model %} data-model="{{model}}" {% endif %} {% if selected %} checked {% endif %}/>
	{% if icon %}
		<span class="FilterPill-icon" {% if iconColor %} style="color:{{ iconColor }}" {% endif %}>{{ ux_icon(icon) }}</span>
	{% endif %}
	{{ customText }}
	{% if closeButton %}
		<span class='FilterPill-iconClose'>{{ ux_icon("close") }}</span>
	{% endif %}
</label>
