{% set selected = selected|default(false) %}
{% set title = title|default('') %}
{% set date = date|default('') %}
{% set price = price|default('') %}
{% set carbone = carbone|default('') %}
{% set pickupServices = pickupServices|default([]) %} {# pickupServices: [{name: 'Mondial relais', value: 'mondial_relais', img: '' }, ...] #}
{% set pickups = pickups|default([]) %} {# pickups: [{ selected: false, closed: false, title: 'Nom du point relais', date: 'JJ/MM', address, price: '7,80€', img: { alt: 'Logo Mondial Relay', src: '/images/mondialRelay.svg' },hours}, ...] #}

<div class='PickupPointModule {% if selected %}selected{% endif %}'>
  <label class='PickupPointModule-content'>
    {% include '@components/Atoms/Form/Radio.html.twig' with {type:"span", name:"PickupPoint", value:1, checked:selected} %}
  <span>
      <span class='PickupPointModule-top'>
      <span>
        <span class='PickupPointModule-title'>{{ title }}</span>
        <span class='PickupPointModule-description'>{{ 'Estimated delivery on'|trans }} {{ date }}</span>
      </span>
      <span class="w-12 h-12 text-theme-medium">
        {{ ux_icon("reinsurance-pickup") }}
      </span>
    </span>
    <div class='flex items-center justify-between mt-6'>
      <span class='PickupPointModule-price'>{{ price }}</span>
      {% include '@components/Molecules/Tag/Tag.html.twig' with { icon: "carbone", customText: carbone } %}
    </div>
  </span>
  </label>
  <div class='PickupPointModule-searchZone'>
    <div>
      {% include '@components/Molecules/Fields/FieldInput/FieldInput.html.twig' with { label: "Find a delivery address"|trans, placeholder: "e.g. City, Postcode"|trans, iconButton: "search" } %}
    </div>
    <div>
      <button class='text-black underline-with-icon' type='button'>{{ ux_icon("pin-circle") }}{{ 'Select on map'|trans }}</button>
    </div>
    <div class='flex gap-1 md:gap-5'>
      {% include '@components/Molecules/Button/Button.html.twig' with {classes: 'PickupPointModule-buttonView', text: 'Map view'|trans, sharp:true, icon_left: 'list', variant: 'secondary'} %}
      {% include '@components/Molecules/Button/Button.html.twig' with {classes: 'PickupPointModule-buttonView', text: 'Map view'|trans, sharp:true, icon_left: 'pin-circle'} %}
    </div>
    <div class='mt-5 paragraph-6'>3 {{ 'relay point(s) found'|trans }}</div>
    <div class='gap-10 mt-3 text-black xl:flex'>
      {% for pickupService in pickupServices %}
        <label class="Checkbox">
          <input type="checkbox"
                 name='pickup'
                 value='{{ pickupService.value }}'
          >
          <div class="checkmark">
            <span>{{ ux_icon("checkbox") }}</span>
          </div>
          <span>{{ pickupService.name }}</span>
          {% if pickupService.img %}
            <span><img src='{{ pickupService.img }}' alt='Logo {{ pickupService.name }}' loading="lazy"></span>
          {% endif %}
        </label>
      {% endfor %}
    </div>
    <div class='flex flex-col gap-2 mt-6'>
      {% for pickup in pickups %}
      {% include '../../Card/PickupPoint/PickupPoint.htmltwig' with pickup %}
      {% endfor %}
    </div>
  </div>
</div>
