{% set title = title|default('') %}
{% set img = img|default({url: '/images/placeholder2.webp', alt:''}) %}
{% set classes = classes|default('') %}
{% set button = button|default({label: '', href:''}) %}
{% set url = url|default('#') %}

<div class="CategoryCard {{ classes }}">

  <div class="CategoryCard-mainContent">
    <a class="CategoryCard-imgLink" href="{{ url }}">
      <figure class="CategoryCard-img">
        <img src="{{ img.url }}" alt="{{ img.alt }}" title="{{ img.alt }}"  loading="lazy">
      </figure>
    </a>
    <div class="CategoryCard-desc">

      <a href="#" class="CategoryCard-title">{{ title }}</a>

      <div class="CategoryCard-footer">
        {% include '@components/Molecules/Button/Button.html.twig' with {text: button.label, href: button.href,icon_right:'chevron-right'} %}

      </div>
    </div>
  </div>
</div>
