{% set author = author|default('') %}
{% set review = review|default('') %}
{% set date = date|default('') %}
{% set note = note|default(0) %}
{% set maxNote = maxNote|default(5) %}

<div class="Review">
  <div class="Review-author">{{ author }}</div>
  <div class="Review-review">{{ review }}</div>
  <div class="Review-footer">
    <div class="Review-note">
      {% for star in 1..note %}
        <span class="Review-star">{{ svg("star") }}</span>
      {% endfor %}
      {% if note < maxNote %}
        {% for star in 1..(maxNote - note) %}
          <span class="Review-star Review-star--empty">{{ svg("star") }}</span>
        {% endfor %}
      {% endif %}
    </div>
    <div class="Review-date">{{ date }}</div>
  </div>
</div>
