{% set contentType = "label" %}
{% set disabled = disabled|default(false) %}
{% set radio = radio|default(false) %}
{% set selected = selected|default(false) %}
{% set purchaseFunnel = purchaseFunnel|default(false) %}
{% set isDefault = isDefault|default(false) %}
{% set address = address|default({
  title: "",
  name: "",
  address1: "",
  zipCode: '',
  city: '',
  country: '',
  phone: '',
}) %}


{% if purchaseFunnel %}
  {% set radio = false %}
  {% set selected = false %}
  {% set contentType = "div" %}
{% endif %}
<div class='AddressCard {% if selected %}selected{% endif %}'>
  {% if not purchaseFunnel %}
    <div class='AddressCard-top'>
      {% include '@components/Molecules/Favorite/Favorite.twig' with {text: 'Favourite'|trans, selected: isDefault} %}
    </div>
  {% endif %}
  <{{ contentType }} class='AddressCard-content'>
    {% include '@components/Atoms/Form/Radio.twig' with {classes:radio ? "" : "invisible max-w-0", type:"span", name:"test", value:1, checked:selected} %}

    <span>
      <span class='AddressCard-title'>{% if not purchaseFunnel %}{{ address.title }}{% else %}{{ 'Delivery address'|trans }}{% endif %}</span>
      <span class='AddressCard-name'>{{ address.name }}</span>
      <span class='AddressCard-address'>
        <span>{{ address.address1 }},{% if address.address2 %} {{ address.address2 }},{% endif %}</span>
        <span>{{ address.zipCode }} {{ address.city }}, {{ address.country }}</span>
        <span class='AddressCard-phone'>{{ address.phone }}</span>
      </span>
    </span>
  </{{ contentType }}>

  {% if not purchaseFunnel %}
    <div class="bottom-card-buttons">
      <button {% if disabled %}disabled{% endif %} class='hover:text-theme' type='button'>
        <span>{{ svg("edit") }}</span>
        {{ 'Modify'|trans }}
      </button>
      <button {% if disabled %}disabled{% endif %} class='hover:text-theme' type='button'>
        <span>{{ svg("delete") }}</span>
        {{ 'Delete'|trans }}
      </button>
    </div>
  {% endif %}
</div>
