{% set undefined = undefined|default(false) %}
{% set address = address|default({
  title: "",
  name: "",
  address1: "",
  zipCode: '',
  city: '',
  country: '',
  phone: '',
}) %}


<div class='AddressCard AddressCard--client-information'>
  <div class='AddressCard-content'>
    {% if undefined %}
      <div class='font-bold paragraph-2'>
        {{ 'Please add a billing address to finalise your order'|trans }}
      </div>
    {% else %}
      <div>
        <div class='AddressCard-name'>{{ address.name }}</div>
        <div class='AddressCard-address'>
          <span>{{ address.address1 }},{% if address.address2 %} {{ address.address2 }},{% endif %}</span>
          <span>{{ address.zipCode }} {{ address.city }}, {{ address.country }}</span>
          <span class='AddressCard-phone'>{{ address.phone }}</span>
        </div>
      </div>
    {% endif %}
  </div>
  <div class='AddressCard-bottom'>
      {% set buttonText = undefined ? 'Add a billing address'|trans : 'Edit the address'|trans ~ '<span class="hidden md:inline">&nbsp;' ~ 'of billing'|trans ~ '</span>' %}
      {% set buttonVariant = undefined ? 'primary' : 'secondary' %}

      {% include '@components/Molecules/Button/Button.twig' with {
          text: buttonText,
          variant: buttonVariant,
          classes: 'Button--fill md:Button--unfill'
      } %}
  </div>
</div>
