<div{{attributes}}>
	{{ form_start(form, {attr :{
    class: 'mt-[30px] flex flex-col gap-[30px]',
    action: path('cart.add.process'),
  } })}}
	<input type="hidden" name="{{ field_name(form.product) }}" value="{{ field_value(form.product)}}">
	<input type="hidden" name="{{ field_name(form.product_sale_elements_id) }}" value="{{ currentPse.id }}">
	<input type="hidden" name="{{ field_name(form.append)}}" value="1">
	<input type="hidden" name="{{ field_name(form.newness)}}" value="1">

	<div class="flex items-center justify-between">
		<div class="flex items-center gap-2">
			{% include '@components/Molecules/Score/Score.html.twig' with {score: 3} %}
			<span class="indication text-grey">12
				{{ 'reviews'|trans }}</span>
		</div>
		{% include '@components/Molecules/OrderTag/OrderTag.html.twig' with { customText: currentPse.quantity > 0 ? 'In stock'|trans : 'Out of stock'|trans, variant: currentPse.quantity > 0 ?'success': 'error', type: 'minimal' } %}
	</div>
	{% if currentPse.quantity == 0 %}
		{% include "@components/Organisms/SnackBar/SnackBar.html.twig" with {text: 'Unavailable product'|trans, variant: 'warning', withIcon:true, size: "full"} %}
	{% endif %}

	{% if product.productSaleElements|length > 1 %}
		<ul class="flex flex-col gap-4">
			{% for attribute in productAttributes %}
				{% if attribute.values|length > 1 %}
					<div>
						{% if attribute.label %}
							<div class="mb-2 font-semibold text-black paragraph-4">{{attribute.label}}</div>
							<div class="flex-wrap hidden gap-2 md:flex">
								{% for availability in attribute.values %}
									{% include '@components/Molecules/Filters/FilterPill/FilterPill.html.twig' with {value : availability.id, id: attribute.id~'_'~availability.id, customText: availability.label,inputType: 'radio', selected : currentCombination[attribute.id] == availability.id, model: 'currentCombination['~attribute.id~']' } %}
								{% endfor %}
							</div>
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		</ul>
	{% endif %}
	<div class="flex items-center gap-4">
		<strong class="text-black h4">{{currentPse.isPromo ? currentPse.promoPrice: currentPse.price}}
			€</strong>
		{% if currentPse.isPromo %}
			<span class="line-through paragraph-4">{{currentPse.price}}
				€</span>
		{% endif %}
	</div>
	{% if currentPse.quantity == 0 %}
		{% include '@components/Molecules/Button/Button.html.twig' with {text: 'Alert me', classes:'Button--large self-start', icon_right: 'bell', liveAction: 'restockingAlert'} %}
		<input type="hidden" name="{{ field_name(form.quantity)}}" value="1">
	{% else %}
		{% include '@components/Molecules/Button/QuantityButton.html.twig' with {value: quantity, classes:'Button--large', text:'Add to cart'|trans, icon:'cart', fill:true, inLiveComp: true, btnLiveAction: 'updateQuantity',name:field_name(form.quantity) } %}
	{% endif %}
	{{ form_end(form) }}
</div>
