{% set checkoutSteps = checkoutSteps|default([]) %}
{% set currentStep = currentStep|default(1) %}
{% set cartTotal = cartTotal|default('') %}
{% set cartQuantity = cartQuantity|default('') %}

{% set totalSteps = checkoutSteps|length %}
{% set percent = (currentStep / totalSteps) * 100 %}
<div class="Steps">
  <div class="CheckoutSteps">
    <div
      id="stepBackButton"
      class="CheckoutSteps-stepBack"
      {# onClick={() => changeStep(currentStep - 1)} #}
    >
      <span>{{ ux_icon("chevron-left") }}</span>
    </div>
    <div class="StepProgressBar">
      <div
        class="StepProgressBar-inner"
        style=" --p: {{ percent }}%;"
      >
        <div class="StepProgressBar-progression">{{ currentStep }}</div>
      </div>
    </div>

    <div class="CheckoutSteps-steps">
      {% for key, step in checkoutSteps %}
        <div
          class='Step{% if step.id == currentStep %} active{% endif %}{% if step.id < currentStep %} validated{% endif %}'
          {#onClick={() => changeStep(step.id)} #}
        >
          <div class="Step-circle">{{ step.id }}</div>
          <div class="Step-title">
            {{ step.label }}
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="CheckoutSteps-cartInfos">
      <span class="CheckoutSteps-cartInfosTotal">
        {{ cartTotal }}
      </span>
      <span class="CheckoutSteps-cartInfosQuantity">
        {{ cartQuantity }}
      </span>
    </div>
  </div>
</div>
