{% set type = type|default("generic") %}
{% set categories = resources('/api/front/categories') %}

{% set categoriesFiltered = categories|map((c) => ({
  id: c.id,
  title: c.i18ns.title,
  url: c.publicUrl
})) %}

<header class='Header  {% if type == "sticky" %}is-sticky{% endif %} {% if type == "searchbar" %}Header--withSearchBar{% endif %}'>
	<div class='flex'>
		{% if type == "searchbar" %}
			<div class='hidden lg:block xl:hidden'>
        {% include '@components/Molecules/HeaderButton/HeaderButton.twig' with {icon: 'menu', text: 'Cart', classes: 'HeaderButton--light', small: true } %}
			</div>
		{% endif %}

		<div class='flex items-center self-center h-full'>
			<a href="/" class='Header-logo'>{{ svg('thelia') }}</a>
		</div>
	</div>

	{% if type == "searchbar" %}
		<div class='w-[500px] 2xl:w-[800px] hidden lg:flex items-stretch flex-col justify-center absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2'>
			{% include '@components/Molecules/SearchBar/SearchBar.twig' %}
		</div>
	{% else %}
		<nav id="Menu">
			<button type="button" data-menu-back="-1">{{ svg("arrow-left") }}</button>
			<button type="button" data-menu-close>{{ svg("close") }}</button>
			<ul class="Header-navigation" data-menu-sub="0">
        {% for category in categoriesFiltered %}
				  {% include '@components/Molecules/ItemHeader/ItemHeader.twig' with { customText: category.title, href: category.url} %}
        {% endfor %}
			</ul>
		</nav>
	{% endif %}

	{% include '@components/Organisms/HeaderNav/HeaderNav.twig' with {type: type} %}

	{% if type == "searchbar" %}
		<nav id="Menu" class='Header-navWrap'>
			<button type="button" data-menu-back="-1">{{ svg("arrow-left") }}</button>
			<button type="button" data-menu-close>{{ svg("close") }}</button>
			<ul class="Header-navigation">
        {% for category in categories %}
				  {% include '@components/Molecules/ItemHeader/ItemHeader.twig' with { customText: category.title, href: category.url} %}
        {% endfor %}
			</ul>
		</nav>
	{% endif %}
