{% set type = type|default("generic") %}

<header class='Header {% if type == "sticky" %}is-sticky{% endif %} {% if type == "searchbar" %}Header--withSearchBar{% endif %}'>
	<div class='flex'>
		{% if type == "searchbar" %}
			<div class='hidden lg:block xl:hidden'>
				{% include '@components/Molecules/HeaderButton/HeaderButton.twig' with {icon: 'menu', text: 'Cart', classes: 'HeaderButton--light', small: true } %}
			</div>
		{% endif %}

		<div class='flex items-center self-center h-full'>
			<a href="/" class='Header-logo'>{{ svg('thelia') }}</a>
		</div>
	</div>


	{% if type == "searchbar" %}
		<div id="SearchBar" class="w-[500px] 2xl:w-[800px] z-50 self-center"></div>
	{% else %}
		<nav id="Menu">
			<button type="button" data-menu-back="-1">{{ svg("arrow-left") }}</button>
			<button type="button" data-menu-close>{{ svg("close") }}</button>
			<ul class="Header-navigation" data-menu-sub="0">
				{% include '@components/Molecules/ItemHeader/ItemHeader.twig' with { customText: "Item menu", href: "#", sub: 1 } %}
				{% include '@components/Molecules/ItemHeader/ItemHeader.twig' with { customText: "Item menu", href: "#" } %}
				{% include '@components/Molecules/ItemHeader/ItemHeader.twig' with { customText: "Item menu", href: "#" } %}
				{% include '@components/Molecules/ItemHeader/ItemHeader.twig' with { customText: "Item menu", href: "#" } %}
				{% include '@components/Molecules/ItemHeader/ItemHeader.twig' with { customText: "Item menu", href: "#" } %}
			</ul>
		</nav>
	{% endif %}

	{% include '@components/Organisms/HeaderNav/HeaderNav.twig' with {type: type} %}

	{% if type == "searchbar" %}
		<nav id="Menu" class='Header-navWrap'>
			<button type="button" data-menu-back="-1">{{ svg("arrow-left") }}</button>
			<button type="button" data-menu-close>{{ svg("close") }}</button>
			<ul class="Header-navigation">
				{% include '@components/Molecules/ItemHeader/ItemHeader.twig' with { customText: "Item menu long", href: "#",sub: 1 } %}
				{% include '@components/Molecules/ItemHeader/ItemHeader.twig' with { customText: "Item menu long", href: "#" } %}
				{% include '@components/Molecules/ItemHeader/ItemHeader.twig' with { customText: "Item menu long", href: "#" } %}
				{% include '@components/Molecules/ItemHeader/ItemHeader.twig' with { customText: "Item menu long", href: "#" } %}
				{% include '@components/Molecules/ItemHeader/ItemHeader.twig' with { customText: "Item menu long", href: "#" } %}
			</ul>
		</nav>
	{% endif %}
</header>
