{% set href = href|default('') %}
{% set customText = customText|default('') %}
{% set disabled = disabled|default(false) %}
{% set target = target|default(null) %}
{% set iconLeft = iconLeft|default(null) %}
{% set iconRight = iconRight|default(null) %}
{% set size = size|default(null) %}

{% set classes = '' %}
{% if size %}
	{% set classes = classes ~ 'Link--' ~ size %}
{% endif %}

<a href="{{ href }}" {% if target %} target="{{ target }}" {% endif %} class='Link {{ classes }}' {% if disabled %} disabled {% endif %}>
	{% if iconLeft %}
		<span class='Link-icon'>{{ ux_icon(iconLeft) }}</span>
	{% endif %}
	{{ customText }}
	{% if iconRight %}
		<span class='Link-icon'>{{ ux_icon(iconRight) }}</span>
	{% endif %}
</a>
