{% set error = error|default(false) %}
{% set disabled = disabled|default(false) %}
{% set required = required|default(false) %}
{% set name = name|default('') %}
{% set label = label|default('') %}
{% set value = value|default(null) %}
{% set tooltip = tooltip|default(null) %}
{% set placeholder = placeholder|default(null) %}
{% set options = options|default([]) %}
{% set success = success|default(false) %}
{% set size = success|default(false) %}

{% set classes = '' %}
{% if error %}
   {% set classes = classes ~ ' FieldSelect--error' %}
{% endif %}
{% if success %}
   {% set classes = classes ~ ' FieldSelect--success' %}
{% endif %}
{% if size %}
   {% set classes = classes ~ ' FieldSelect--' ~ size %}
{% endif %}

<div class='FieldSelect{{ classes }}' {% if disabled %}disabled{% endif %}>
  <div class='FieldSelect-header'>
    <label for='{{ name }}' class='FieldSelect-label'>
      {{ label }}{% if required and label %} *{% endif %}
    </label>
    {% if tooltip %}
      {% include '@components/Molecules/Tooltip/Tooltip.html.twig' with {tooltip: tooltip, position: 'bottom'} %}
    {% endif %}
  </div>
  <select
    class='FieldSelect-select'
    name='{{ name }}'
    id='{{ name }}'
    {% if value %}value='{{ value }}'{% endif %}
    {% if required %}required{% endif %}
  >
    {% if placeholder %}
      <option value="" hidden class='FieldSelect-placeholder'>
        {{ placeholder }}{% if required and  not label %} *{% endif %}
      </option>
    {% endif %}
    {% for option in options %}
      <option value="{{ option.value }}">{{ option.label }}</option>
    {% endfor %}
  </select>
  {% if error %}<span class='FieldSelect-error'>{{ error }}</span>{% endif %}
</div>
