{% set classes = classes|default('') %}
{% set text = text|default('') %}
{% set disabled = disabled|default(false) %}
{% set href = href|default(false) %}
{% set type = type|default('button') %}
{% set icon_left = icon_left|default(false) %}
{% set icon_right = icon_right|default(false) %}

{% if variant and variant != 'primary' %}{% set classes = classes ~ ' Button--' ~ variant %}{% endif %}
{% if fill %}{% set classes = classes ~ ' Button--fill'%}{% endif %}
{% if rectangle %}{% set classes = classes ~ ' Button--rectangle'%}{% endif %}
{% if sharp %}{% set classes = classes ~ ' Button--sharp'%}{% endif %}
{% if round %}{% set classes = classes ~ ' Button--round'%}{% endif %}
{% set tag = 'button' %}
{% if href %}{% set tag = 'a' %}{% endif %}


<{{ tag }} class='Button {{ classes }}' {% if disabled %}disabled{% endif %} {% if href %}href='{{ href }}'{% else %}type='{{ type }}'{% endif %}>
  {% if icon_left %}
    <span class='icon icon-left'>{{ source("/icons/"~ icon_left ~".svg") }}</span>
  {% endif %}
  {{ text|striptags('<span>')|raw }}
  {% if icon_right %}
    <span class='icon icon-right'>{{ source("/icons/"~ icon_right ~".svg") }}</span>
  {% endif %}
</{{ tag }}>
