{% set classes = classes|default('') %}
{% set value = value|default('') %}
{% set disabled = disabled|default(false) %}
{% set btnLiveAction = btnLiveAction|default(null) %}
{% set name = name|default('') %}

<div role="button" class='Button Button-quantity {{ classes }} {% if disabled %}disabled{% endif %}'>
	<button type="button" {% if btnLiveAction %} data-action="live#action" data-live-action-param="{{btnLiveAction}}" data-live-quantity-param="{{ value - 1 }}" {% else %} data-qty='minus' {% endif %} {% if disabled %} disabled {% endif %}>-</button>
	<input type='number' name="{{name}}" {% if disabled %} disabled {% endif %} value='{{ value }}'>
	<button type="button" {% if btnLiveAction %} data-action="live#action" data-live-action-param="{{btnLiveAction}}" data-live-quantity-param="{{ value + 1 }}" {% else %} data-qty='plus' {% endif %} {% if disabled %} disabled {% endif %}>+</button>
</div>
